$br: 5px;
$border: 1px solid #ccc;

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.button {
	background-color: #fff;
	border: $border;
	border-radius: $br;
	border-style: solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	font-smoothing: subpixel-antialiased;
	font-weight: 300;
	line-height: 1rem;
	margin: 0;
	outline: none;
	padding: .6875rem 1.5rem;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	width: 100%;
}

header {
	background: white;

	/*@extend group;*/
	border-top: 5px solid #333;
	padding: 1em 0;
}

body {
	background: #D6F7CC;
	color: #333;
}

.fence {
	max-width: 960px;
	margin: 0 auto;

	/*display: flex;*/
	/*justify-content: space-between;*/
}
.logo {
	margin-top:6px;
	
}
.upei_logo {
	margin-top: 10px;
	float: right;
}

nav {
	padding: 1em;

	ul {
		list-style-type: none;

		/*display:flex;*/
		li {}
	}

	a {
		background: #fff;
		text-decoration: none;
		border: $border;
		padding: 10px;
	}
}

.button {
	display: inline-block;
}

.button.contact {
	float: right;
	width: 151px;
	margin-left: 10px;
}

.button.about {
	float: right;
	width: 261px;
}

.button.purchase {
	float: left;
	width: 200px;
}

.button.purchase.centered {
	float: none;
	display: block;
	margin: 0 auto;
	background-color: #2698F2;
	background-image: url(../images/bg_add_to_cart.png);
	background-position: 90% 50%;
	background-repeat: no-repeat;
	border: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff !important;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-top: 40px;
	margin-left: 100px;
	padding: 10px 50px 10px 10px;
}
.pullquote {
	    border-left: 2px solid #9d1723;
		    padding-left: 20px;
			    margin: 35px 0 35px 0;
				    font-family: "Bitter", serif;
					    font-weight: 700;
						    letter-spacing: 0;
	
}
.content {
	background: #fff;
	padding: 1em;
	border: $border;
	border-radius: $br;
	margin-bottom: 2em;

	ul {
		margin-left: 2em;
	}

	img {
		padding: 4px;
		border: $border;
		border-radius: $br;
		margin-bottom: 1em;
	}
}

.left {
	width: 50%;
	float: left;
	padding-right: 1em;
}

.right {
	width: 50%;
	float: right;
	padding-left: 1em;
}
