header {
	background: white;
	border-top: 5px solid #333;
	padding: 1em 0;
	    border-bottom: 1px solid #e4e4e4;
		    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

body {
	background: #D6F7CC;
	color: #333;
}

.fence {
	@include row($max-width: 1000px);
	/*padding:0;*/
}
.upei_logo {
	width:140px;
	margin-top: 10px;
	
}
@include min-screen(817px) {
	.logo {
		margin-top:6px;

	}
	.upei_logo {
	width:180px;
		margin-top: 10px;
		float: right;
	}
}

nav {
	padding: 1em;

	ul {
		list-style-type: none;

		/*display:flex;*/
		li {}
	}

	a {
		background: #fff;
		text-decoration: none;
		border: $border;
		padding: 10px;
	}
}

.content {

	@include row($max-width: 960px);
	background: #fff;
	padding: 1em;
	border: $border;
	border-radius: $br;
	margin-bottom: 2em;

	ul {
		margin-left: 2em;
	}

	img {
		padding: 4px;
		border: $border;
		border-radius: $br;
		margin-bottom: 1em;
	}
}

@include on-desktop {
	.left {
		@include column(6, $first: true);
	}

	.right {
		@include column(6);
	}
}
