$br: 5px;
$border: 1px solid #ccc;
* { box-sizing: border-box } 
img {

	max-width: 100%;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}

.button {
	background-color: #fff;
	border:$border;
	border-radius: $br;
	border-style: solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-smoothing: subpixel-antialiased;
	font-weight: 300;
	line-height: 1rem;
	margin: 0;
	outline: none;
	padding: .6875rem 1.5rem;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	width: 100%;
}


header {
	background: white;
	/*@extend group;*/
	border-top: 5px solid #333;
	padding: 1em 0;
}

body {
	background: #D6F7CC;
	color:#333;
}

.fence {
	max-width: 960px;
	margin: 0 auto;
	/*display: flex;*/
	/*justify-content: space-between;*/
}

.upei_logo {
	margin-top: 10px;
	float: right;
}

nav {
	padding: 1em;

	ul {
		list-style-type: none;

		/*display:flex;*/
		li {}
	}

	a {
		background: #fff;
		text-decoration: none;
		border: $border;
		padding: 10px;
	}
}
a.button {
    display: inline-block;
}

a.button.contact {
    float: right;
    width: 151px;
}

a.button.about {
    float: right;
    width: 261px;
}

a.button.purchase {
    float: left;
    width: 200px;
}
.content {
	background: #fff;
	padding:1em;
	border: $border;
	border-radius:$br;
	ul {
	margin-left: 2em;
	}
img {
padding: 4px;
border: $border;
border-radius: $br;
margin-bottom: 1em;
}
	
}
.left {
	width: 50%;
	float:left;
	padding-right: 1em;
}
.right {
width:50%;
float: right;
padding-left: 1em;
}
