
.button {
	background-color: #fff;
	border: $border;
	border-radius: $br;
	border-style: solid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	font-smoothing: subpixel-antialiased;
	font-weight: 300;
	line-height: 1rem;
	margin: 0;
	outline: none;
	padding: .6875rem 1.5rem;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	width: 100%;
}

.button {
	display: inline-block;
}
@include min-screen(700px) {
	.button.contact {
		float: right;
		width: 151px;
		margin-left: 10px;
	}

	.button.about {
		float: right;
		width: 261px;
	}

	.button.purchase {
		float: left;
		width: 200px;
	}
}

.button.purchase.centered {
	float: none;
	display: block;
	margin: 0 auto;
	background-color: #2698F2;
	background-image: url(../images/bg_add_to_cart.png);
	background-position: 90% 50%;
	background-repeat: no-repeat;
	border: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff !important;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-top: 40px;
	padding: 10px 50px 10px 10px;
	@include on-desktop {
		margin-left: 100px;
	}
}
