@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);

@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700);

@import url(https://fonts.googleapis.com/css?family=Bitter);

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bitter", serif;
	font-weight: 700;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 1.5rem;
	margin-top: 0;
}

p {
	margin-bottom: 1.5rem;
	margin-top: 0;
}

button,
input,
select,
textarea {
	/*font-family: unquote($font-base-family);*/
}

// headings
h1 {
	font-size: 1.5rem;
	line-height: 1.25;
	@include on-tablet-up {
		font-size: 2rem;
	}
}

h2 {
	font-size: 1.2rem;
	line-height: 1.167;
	@include on-tablet-up {
	font-size: 1.5rem;
}
}

h3 {
	font-size: 1.75rem;
	line-height: 1.286;
}
.pullquote {
	    border-left: 2px solid #9d1723;
		    padding-left: 20px;
			    margin: 35px 0 35px 0;
				    font-family: "Bitter", serif;
					    font-weight: 700;
						    letter-spacing: 0;
	
}

